<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bloggy Blog</title>
    <link rel="stylesheet" href="/css/reset.css" />

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/ef81dcc31e.js"
      crossorigin="anonymous"
      defer
    ></script>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #042A2B;">

      <div class="container-fluid">
        <a class="navbar-brand" href="/"
          >Bloggy <i class="fa-solid fa-blog"></i
        ></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link home_nav_link active" id="home_nav_link" href="/"
              ><i class="fa-solid fa-house-laptop"></i>Home</a
            >
            <a
              class="nav-link dashboard_nav_link"
              id="dashboard_nav_link"
              href="/dashboard"
              ><i class="fa-solid fa-gauge-high"></i>Dashboard</a
            >
            <a
              class="nav-link login_nav_link"
              id="login_nav_link"
              href="/login"
              data-login="login"
              ><i class="fa-solid fa-right-to-bracket"></i>Login</a
            >
            <a
              class="nav-link login_nav_link"
              id="login_nav_link"
              href="/logout"
              data-login="logout"
              ><i class="fa-solid fa-circle-xmark"></i></i>logout</a
            >
          </div>
        </div>
      </div>
    </nav>
  <main>
    {{! render the other views with res.render('<viewName>') }}
    {{{body}}}

  </body>

</html>