<!-- DASHBOARD -->

<div class="card" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title">New Post</h5>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"><i
          class="fa-solid fa-heading"
        ></i>
        Title
      </span>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>

    <div class="input-group">
      <span class="input-group-text"><i class="fa-solid fa-pen-nib"></i>
        Content</span>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
  </div>
</div>