<!-- SIGN UP -->
<div class="login_page_container">
  <div
    data-log_container="sign_up"
    class="signup_container"
    id="signup_container"
  >
    <form class="sign_up_form" id="sign_up_form">
      <h3><i class="fa-solid fa-user-plus"></i>Sign up</h3>
      <div class="first_row">
        <label for="first_name_su" class="form-label"><i
            class="fa-solid fa-input-text"
          ></i>First name</label>
        <input
          type="text"
          class="form-control"
          id="first_name_su"
          name="first_name_su"
          value="Bloggy"
          required
        />
        <label for="last_name_su" class="form-label"><i
            class="fa-solid fa-input-text"
          ></i>Last name</label>
        <input
          type="text"
          class="form-control"
          id="last_name_su"
          name="last_name_sU"
          value="Blog"
          required
        />
      </div>
      <div class="second_row">
        <label for="email_su" class="form-label"><i
            class="fa-solid fa-at"
          ></i>Email</label>
        <input
          type="email"
          class="form-control"
          id="email_su"
          name="email_su"
          value="bloggy@blog.com"
          required
        />
        <label for="username_su" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username_su"
          name="username_su"
          value="8log6y"
          required
        />
        <label for="password_su" class="form-label"><i
            class="fa-solid fa-key"
          ></i>Password</label>
        <input
          type="password"
          class="form-control"
          name="password_su"
          id="password_su"
          required
        />
      </div>
      <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
  </div>

  {{! LOGIN IN }}
  <div data-log_container="login" class="login_container" id="login_container">
    <form id="login_form" class="login_form">
      <h3><i class="fa-solid fa-right-to-bracket"></i>Login</h3>
      <div class="first_row">
        <label for="email_lg" class="form-label"><i
            class="fa-solid fa-at"
          ></i>Email</label>
        <input
          type="text"
          class="form-control"
          id="email_lg"
          name="email_lg"
          value="bloggy@blog.com"
          required
        />
        <label for="password_lg" class="form-label"><i
            class="fa-solid fa-key"
          ></i>Password</label>
        <input
          type="password"
          class="form-control"
          name="password_lg"
          id="password_lg"
          required
        />
      </div>
      <button class="btn btn-primary" type="submit">Login</button>

    </form>
  </div>
</div>

<script src="./js/login.js"></script>